# Web API
fastapi==0.110.0
uvicorn==0.29.0
python-multipart

# LangChain & RAG
langchain==0.2.14
langchain-community==0.2.12
langchain-huggingface==0.0.3
langchain-text-splitters==0.2.4

# Vector Database
faiss-cpu==1.8.0

# PDF Handling
pypdf==4.2.0
cryptography==46.0.3

# AI Models (CPU Friendly)
transformers==4.41.2
sentence-transformers==2.7.0
accelerate==0.31.0

# Evaluation
nltk

# PyTorch (Standard CPU Version)
torch
torchvision
torchaudio